body{
    background-color: rgb(216, 233, 201);
}
*{
    font-family: "Comic Sans MS";
}


.test{
    border: 4px solid rgb(10, 222, 10);

    background-color: rgb(114, 188, 245);

}

.sizes{
    display: grid;
    grid-template-columns: auto;
    background-color: rgb(114, 188, 245);
    padding: 5px;

}

.sizes > div{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}






