body{
    background-color: rgb(216, 233, 201);
}
*{
    font-family: "Comic Sans MS";
}


.test{
    border: 4px solid rgb(10, 222, 10);

    background-color: rgb(114, 188, 245);

}

.planetpicker{
    scrollbar-width: 20px;


}
